/* CSS files add styling rules to your content */

::-moz-selection { /* Code for Firefox */
  background: red;
}

::selection {
  background: red;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9; 
}

body {
			          -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
	    background-image: url('https://i.pinimg.com/originals/50/ff/c8/50ffc8da808e31a16eed77b741afe480.gif');
    background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
    --border: 5px solid black;
  padding: 25px;
  background-size: cover;
    --background-size: 1000px 1000px;
   background-color: #27354a;
  font-family: 'Chilanka', cursive;
  margin: 2em;
}

r {
  border-radius: 8px;
  font-family: 'Staatliches', cursive;
  font-style: bold;
  font-size: 40px;
    background-color: coral;
  text-shadow: 3px 3px #000;
  color: #ffffff;
}

v {
font-family: 'Alatsi', sans-serif;
  font-style: bold;
  font-size: 40px;
  color: #ffffff;
  text-shadow: 1px 1px #000;
      background-color: #1d1f24;
      background: rgba(29, 31, 36, 0.5);
}

x {
  font-family: 'Staatliches', cursive;
  font-style: bold;
  font-size: 40px;
    background-color: coral;
  text-shadow: 2px 2px #000;
  color: #ffffff;
}
l{
    --border-radius: 8px;
  font-family: 'Staatliches', cursive;
  font-style: bold;
  font-size: 40px;
    background-color: coral;
  text-shadow: 2px 2px #000;
  color: #ffffff;
}
f {
  font-family: 'Staatliches', cursive;
  font-style: bold;
  font-size: 40px;
    background-color: coral;
    text-shadow: 2px 2px #000;
  color: #ffffff;
}

button {
	          -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    border-radius: 29px;
	outline: none;
  background-color: #3c5969;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button {
	          -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
  border-radius: 29px;
	outline: none;
  background-color: #3c5969;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

    a { 
      text-decoration: none; 
      color: #ffffff;
}

h1 {
  font-style: bold;
  color: #ffffff;
      text-shadow: 2px 2px #0F171F;
}

hr {
    clear: both;
    visibility: hidden;
}
h2 {
				          -webkit-user-select: text;
        -webkit-touch-callout: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
font-family: 'PT Sans', sans-serif;
  font-style: bold;
  color: white;
      text-shadow: 2px 2px black;
}

h3 {
  font-style: bold;
  color: #373fff;
      text-shadow: 1px 1px #ffffff;
}
h4 {
  font-style: bold;
  color: #373fff;
      text-shadow: 1px 1px #ffffff;
}
h5 {
  font-style: bold;
  color: #373fff;
      text-shadow: 1px 1px #ffffff;
}
h6 {
  font-style: bold;
  color: #373fff;
      text-shadow: 1px 1px #ffffff;
}
.smoothed {
					          -webkit-user-select: text;
        -webkit-touch-callout: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
	font-smooth: always;
font-smooth: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
